In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Open and read files
flight_delay_origin = pd.read_csv("clean/LAX_Origin_Flight_Delays_2016.csv")

In [5]:
# retrive and conver in to dataframe
flight_delay_origin = pd.DataFrame(flight_delay_origin)

In [6]:
flight_delay_origin.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'UniqueCarrier', 'Carrier', 'TailNum', 'FlightNum', 'Origin',
       'OriginCityName', 'OriginState', 'OriginStateName', 'OriginWac', 'Dest',
       'DestCityName', 'DestState', 'DestStateName', 'DestWac', 'CRSDepTime',
       'DepTime', 'DepDelay', 'DepDelayMinutes', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'CRSElapsedTime', 'ActualElapsedTime', 'AirTime', 'Flights', 'Distance',
       'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay', 'CarrierName'],
      dtype='object')

In [10]:
flight_delay_origin.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,Carrier,TailNum,FlightNum,...,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CarrierName
0,2016,1,1,1,5,2016-01-01,AA,AA,N3MCAA,52,...,253.0,1.0,2311.0,10,62.0,0.0,0.0,0.0,0.0,American Airlines Inc.
1,2016,1,1,2,6,2016-01-02,AA,AA,N3MKAA,52,...,252.0,1.0,2311.0,10,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
2,2016,1,1,3,7,2016-01-03,AA,AA,N3LVAA,52,...,260.0,1.0,2311.0,10,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
3,2016,1,1,4,1,2016-01-04,AA,AA,N3LLAA,52,...,288.0,1.0,2311.0,10,0.0,0.0,19.0,0.0,0.0,American Airlines Inc.
4,2016,1,1,5,2,2016-01-05,AA,AA,N3LPAA,52,...,270.0,1.0,2311.0,10,0.0,12.0,9.0,0.0,0.0,American Airlines Inc.
5,2016,1,1,6,3,2016-01-06,AA,AA,N3MHAA,52,...,264.0,1.0,2311.0,10,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
6,2016,1,1,7,4,2016-01-07,AA,AA,N3LEAA,52,...,273.0,1.0,2311.0,10,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
7,2016,1,1,8,5,2016-01-08,AA,AA,N3MEAA,52,...,261.0,1.0,2311.0,10,0.0,0.0,16.0,0.0,0.0,American Airlines Inc.
8,2016,1,1,9,6,2016-01-09,AA,AA,N3MGAA,52,...,265.0,1.0,2311.0,10,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
9,2016,1,1,10,7,2016-01-10,AA,AA,N3MDAA,52,...,264.0,1.0,2311.0,10,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.

In [9]:
# Total delayed by cities and carrier
aa = flight_delay_origin.groupby(['Carrier', 'DestCityName','Month'])['DepDel15','ArrDel15'].sum()

aa = pd.DataFrame(aa)
aa

                             DepDel15  ArrDel15
Carrier DestCityName  Month
AA      Anchorage, AK 6           5.0       1.0
                      7          11.0       5.0
                      8           0.0       1.0
        Atlanta, GA   1          10.0      11.0
                      2           9.0       5.0
                      3          15.0      15.0
                      4          12.0      12.0
                      5          11.0      13.0
                      6          41.0      33.0
                      7          34.0      35.0
                      8          39.0      42.0
                      9          20.0      22.0
                      10         29.0      26.0
                      11         17.0      24.0
                      12         18.0      19.0
        Austin, TX    1          10.0       7.0
                      2          10.0       7.0
                      3          19.0      19.0
                      4           7.0       5.0
                      5          11.0       9.0
                      6          29.0      32.0
                      7          21.0      22.0
                      8          20.0      26.0
                      9          15.0      22.0
                      10         17.0      21.0
                      11         16.0      19.0
                      12         20.0      21.0
        Boston, MA    1           8.0      13.0
                      2          10.0      14.0
                      3          13.0      17.0
...                               ...       ...
WN      San Jose, CA  7         116.0      98.0
                      8          75.0      70.0
                      9          62.0      56.0
                      10         74.0      70.0
                      11         73.0      61.0
                      12        135.0     134.0
        St. Louis, MO 1          20.0      24.0
                      2           8.0       4.0
                      3          31.0      29.0
                      4          31.0      32.0
                      5          31.0      26.0
                      6          52.0      54.0
                      7          45.0      33.0
                      8          49.0      44.0
                      9          35.0      34.0
                      10         36.0      23.0
                      11         24.0      18.0
                      12         28.0      21.0
        Tucson, AZ    1          14.0      12.0
                      2          10.0      10.0
                      3          24.0      30.0
                      4          22.0      21.0
                      5          27.0      29.0
                      6          32.0      35.0
                      7          29.0      28.0
                      8          30.0      36.0
                      9          31.0      26.0
                      10         34.0      25.0
                      11         27.0      24.0
                      12         47.0      46.0

[2180 rows x 2 columns]

In [6]:
# Total departure delayed by carrier 
table_depdelay = pd.pivot_table(flight_delay_origin, values=['DepDel15'], index=['Carrier'], columns='Month', aggfunc=np.sum)   
table_depdelay

        DepDel15                                                         \
Month         1      2       3       4       5       6       7       8
Carrier
AA         450.0  374.0   648.0   521.0   466.0  1338.0  1157.0  1062.0
AS          63.0   50.0    42.0    52.0    41.0   103.0    71.0    88.0
B6          75.0   80.0    75.0    63.0    82.0   108.0   187.0   156.0
DL         739.0  503.0   654.0   475.0   586.0   950.0   816.0   976.0
F9          11.0    8.0    20.0    13.0    37.0    36.0    56.0    47.0
HA           4.0    8.0     3.0     2.0     8.0    17.0    17.0    17.0
NK         150.0  176.0   182.0   180.0   186.0   214.0   182.0   215.0
OO         398.0  339.0   378.0   180.0   243.0   408.0   408.0   414.0
UA         259.0  192.0   406.0   311.0   421.0   577.0   641.0   685.0
VX         242.0  160.0   276.0   232.0   276.0   325.0   340.0   349.0
WN         867.0  511.0  1084.0  1024.0  1144.0  1437.0  1385.0  1218.0


Month        9       10     11      12
Carrier
AA        454.0   618.0  462.0   798.0
AS         28.0    54.0   51.0   164.0
B6         94.0   115.0   66.0   155.0
DL        537.0   650.0  522.0  1050.0
F9         31.0    22.0   22.0    52.0
HA         12.0    13.0   11.0    19.0
NK         98.0   111.0   92.0   254.0
OO        325.0   338.0  351.0   808.0
UA        484.0   590.0  489.0   748.0
VX        182.0   208.0  182.0   352.0
WN       1001.0  1249.0  999.0  1663.0

In [7]:
# Total departure delayed by cities 
table_depdelay1 = pd.pivot_table(flight_delay_origin, values=['DepDel15'], index=['DestCityName'], columns='Month', aggfunc=np.sum)   
table_depdelay1

                              DepDel15                                     \
Month                               1      2      3      4      5      6
DestCityName
Albuquerque, NM                   24.0   21.0   27.0   27.0   34.0   36.0
Anchorage, AK                      3.0    2.0    0.0    1.0    3.0   17.0
Aspen, CO                         16.0   24.0   26.0    1.0    NaN    5.0
Atlanta, GA                      138.0   98.0  128.0   87.0  107.0  160.0
Austin, TX                        32.0   28.0   58.0   33.0   36.0   72.0
Baltimore, MD                     26.0   20.0   35.0   23.0   29.0   55.0
Bend/Redmond, OR                   NaN    NaN    NaN    NaN    NaN    8.0
Boise, ID                          6.0    8.0    6.0    4.0    4.0   18.0
Boston, MA                        40.0   36.0   61.0   58.0   65.0  117.0
Bozeman, MT                        0.0    5.0    4.0    0.0    NaN    NaN
Buffalo, NY                        NaN    NaN    NaN    NaN    NaN    6.0
Cedar Rapids/Iowa City, IA         0.0    NaN    NaN    NaN    NaN    NaN
Charlotte, NC                     18.0   19.0   40.0   28.0   25.0   50.0
Chicago, IL                      124.0  106.0  154.0  133.0  163.0  278.0
Cincinnati, OH                    12.0    7.0   15.0   12.0   16.0   24.0
Cleveland, OH                     13.0   16.0   15.0   19.0   14.0   27.0
Colorado Springs, CO              11.0   10.0    8.0    8.0    3.0    6.0
Columbus, OH                      10.0    9.0   10.0    6.0    8.0   21.0
Dallas, TX                        49.0   41.0   71.0   61.0   51.0   46.0
Dallas/Fort Worth, TX             98.0   77.0  145.0  105.0   93.0  214.0
Denver, CO                        59.0   50.0  126.0   99.0  145.0  164.0
Detroit, MI                       69.0   46.0   42.0   25.0   37.0   64.0
Durango, CO                        NaN    NaN    NaN    NaN    NaN    0.0
Eagle, CO                          1.0    5.0    4.0    0.0    NaN    0.0
El Paso, TX                       17.0   10.0   24.0   17.0   19.0   43.0
Eugene, OR                         1.0    0.0    NaN    NaN    NaN   13.0
Fort Lauderdale, FL               69.0   42.0   68.0   54.0   45.0   52.0
Fresno, CA                        14.0    6.0   16.0    9.0   21.0   38.0
Hartford, CT                       NaN    NaN    NaN    NaN    NaN    6.0
Hayden, CO                         7.0    1.0    2.0    NaN    NaN    NaN
...                                ...    ...    ...    ...    ...    ...
Nashville, TN                     31.0   32.0   35.0   25.0   19.0   74.0
New Orleans, LA                   47.0   39.0   32.0   40.0   35.0   79.0
New York, NY                     134.0  154.0  193.0  142.0  173.0  316.0
Newark, NJ                        56.0   49.0   90.0   73.0   93.0  153.0
Oakland, CA                      102.0   59.0  106.0  125.0  159.0  227.0
Oklahoma City, OK                  4.0    8.0    7.0    3.0    2.0    6.0
Omaha, NE                          NaN    NaN    NaN    NaN    NaN   19.0
Orlando, FL                       36.0   26.0   49.0   42.0   61.0  102.0
Palm Springs, CA                   5.0    2.0    6.0    4.0    1.0    5.0
Philadelphia, PA                  17.0   20.0   32.0   18.0   29.0   63.0
Phoenix, AZ                      173.0  100.0  184.0  117.0  151.0  212.0
Pittsburgh, PA                     2.0    3.0    2.0    5.0    7.0    8.0
Portland, OR                      56.0   26.0   42.0   50.0   64.0   99.0
Raleigh/Durham, NC                15.0   11.0    9.0   12.0   12.0   36.0
Reno, NV                          18.0   16.0   32.0   25.0   24.0   45.0
Sacramento, CA                    96.0   56.0  107.0   87.0   99.0  162.0
Salt Lake City, UT               107.0   81.0   79.0   67.0   47.0  122.0
San Antonio, TX                   30.0   22.0   26.0   30.0   41.0   31.0
San Diego, CA                     29.0   42.0   36.0   29.0   42.0   58.0
San Francisco, CA                443.0  248.0  468.0  369.0  458.0  400.0
San Jose, CA                      82.0   64.0  100.0  111.0  123.0  153.0
San Luis Obispo, CA               13.0    5.0   20.0   16.0   15.0   23.0
Santa Barbara, CA                 14.0   13.0   17.0   15.0   16.0   21.0
Seattle, WA                      100.0   71.0   88.0  106.0   89.0  211.0
Spokane, WA                        9.0    5.0    7.0    0.0    NaN    NaN
St. Louis, MO                     29.0   20.0   39.0   37.0   42.0   85.0
Sun Valley/Hailey/Ketchum, ID      NaN    1.0    1.0    0.0    NaN    1.0
Tampa, FL                          9.0   11.0   15.0   16.0   14.0   26.0
Tucson, AZ                        55.0   32.0   46.0   26.0   31.0   52.0
Washington, DC                    40.0   31.0   69.0   48.0   59.0   91.0


Month                             7      8      9      10     11     12
DestCityName
Albuquerque, NM                 34.0   15.0   20.0   21.0   27.0   62.0
Anchorage, AK                   19.0    8.0    2.0    3.0    0.0   12.0
Aspen, CO                       14.0   13.0    7.0    6.0    0.0   57.0
Atlanta, GA                    137.0  151.0   99.0  126.0  127.0  219.0
Austin, TX                      53.0   45.0   38.0   49.0   39.0   59.0
Baltimore, MD                   63.0   54.0   39.0   39.0   25.0   54.0
Bend/Redmond, OR                 7.0    5.0    4.0    3.0    3.0    4.0
Boise, ID                       21.0   18.0   17.0   15.0   11.0   36.0
Boston, MA                     121.0   92.0   66.0   82.0   43.0   61.0
Bozeman, MT                      3.0    0.0    4.0    0.0    NaN   10.0
Buffalo, NY                     12.0   14.0    9.0   12.0    7.0   16.0
Cedar Rapids/Iowa City, IA       NaN    NaN    NaN    NaN    NaN    NaN
Charlotte, NC                   50.0   44.0   20.0   27.0   13.0   39.0
Chicago, IL                    271.0  278.0  163.0  222.0  161.0  286.0
Cincinnati, OH                  36.0   30.0   15.0   16.0   12.0   29.0
Cleveland, OH                   34.0   41.0   22.0   15.0   13.0   33.0
Colorado Springs, CO            12.0   10.0   10.0    2.0   10.0   19.0
Columbus, OH                    21.0   20.0    3.0    8.0    8.0   13.0
Dallas, TX                      46.0   53.0   42.0   38.0   31.0   65.0
Dallas/Fort Worth, TX          162.0  167.0   81.0  103.0   89.0  141.0
Denver, CO                     168.0  186.0  123.0  172.0  133.0  227.0
Detroit, MI                     53.0   64.0   43.0   57.0   28.0   74.0
Durango, CO                      3.0    0.0    NaN    NaN    NaN    NaN
Eagle, CO                        2.0    2.0    NaN    NaN    NaN    5.0
El Paso, TX                     32.0   41.0   34.0   32.0   20.0   33.0
Eugene, OR                      17.0    2.0    3.0   13.0    8.0   21.0
Fort Lauderdale, FL             56.0   70.0   42.0   41.0   31.0   79.0
Fresno, CA                      31.0   26.0   12.0   20.0   27.0   60.0
Hartford, CT                     6.0    6.0    2.0    7.0    3.0    6.0
Hayden, CO                       NaN    NaN    NaN    NaN    NaN    9.0
...                              ...    ...    ...    ...    ...    ...
Nashville, TN                   76.0   56.0   35.0   43.0   39.0   57.0
New Orleans, LA                 66.0   58.0   33.0   55.0   38.0   94.0
New York, NY                   367.0  348.0  169.0  172.0  129.0  346.0
Newark, NJ                     173.0  180.0  113.0  119.0  131.0  148.0
Oakland, CA                    189.0  170.0  104.0  141.0  128.0  220.0
Oklahoma City, OK                2.0    2.0    5.0    5.0    4.0    9.0
Omaha, NE                       13.0   16.0    3.0    4.0    2.0    5.0
Orlando, FL                     94.0   84.0   44.0   41.0   41.0   78.0
Palm Springs, CA                 8.0    5.0    7.0    6.0    4.0   14.0
Philadelphia, PA                70.0   62.0   28.0   29.0    7.0   41.0
Phoenix, AZ                    205.0  182.0  113.0  187.0  135.0  219.0
Pittsburgh, PA                  11.0   25.0   17.0   19.0   19.0   29.0
Portland, OR                    71.0   80.0   65.0   74.0   52.0  117.0
Raleigh/Durham, NC              17.0   30.0   11.0   12.0   12.0   27.0
Reno, NV                        40.0   31.0   27.0   38.0   40.0   59.0
Sacramento, CA                 134.0  132.0   98.0  128.0  105.0  158.0
Salt Lake City, UT             103.0  120.0   97.0   86.0   85.0  176.0
San Antonio, TX                 29.0   46.0   38.0   31.0   36.0   55.0
San Diego, CA                   59.0   60.0   35.0   42.0   31.0   79.0
San Francisco, CA              453.0  527.0  294.0  439.0  323.0  474.0
San Jose, CA                   131.0  100.0   85.0   97.0   91.0  158.0
San Luis Obispo, CA             16.0   15.0   17.0   17.0   21.0   34.0
Santa Barbara, CA               11.0   18.0   17.0   14.0   20.0   39.0
Seattle, WA                    160.0  203.0   88.0  117.0   89.0  185.0
Spokane, WA                      0.0    2.0    0.0    NaN    NaN    NaN
St. Louis, MO                   75.0   77.0   46.0   48.0   42.0   39.0
Sun Valley/Hailey/Ketchum, ID    1.0    2.0    1.0    NaN    NaN   11.0
Tampa, FL                       16.0   16.0    7.0    9.0    7.0   14.0
Tucson, AZ                      69.0   69.0   61.0   63.0   63.0   95.0
Washington, DC                 113.0  107.0   53.0   68.0   55.0  116.0

[80 rows x 12 columns]

In [24]:
# Total Arrival delayed by carrier
table_arrdelay = pd.pivot_table(flight_delay_origin, values=['ArrDel15'], columns=['Carrier'], index='Month', aggfunc=np.sum)   
table_arrdelay

        ArrDel15                                                               \
Carrier       AA     AS     B6     DL    F9    HA     NK     OO     UA     VX
Month
1          623.0   73.0  101.0  654.0  13.0  54.0  166.0  383.0  298.0  261.0
2          454.0   64.0  111.0  373.0  10.0  21.0  191.0  332.0  210.0  181.0
3          770.0   79.0   72.0  485.0  15.0  22.0  205.0  386.0  371.0  299.0
4          567.0   70.0   85.0  450.0  16.0   7.0  171.0  166.0  234.0  268.0
5          500.0   62.0   59.0  414.0  39.0  17.0  182.0  229.0  314.0  269.0
6         1378.0  133.0   94.0  830.0  45.0  20.0  234.0  480.0  503.0  353.0
7         1255.0  130.0  156.0  717.0  73.0  18.0  186.0  450.0  561.0  360.0
8         1181.0  144.0  138.0  888.0  67.0  17.0  203.0  458.0  619.0  390.0
9          596.0   73.0  103.0  491.0  38.0  21.0  101.0  369.0  430.0  238.0
10         612.0   75.0   77.0  437.0  25.0  21.0  106.0  365.0  465.0  273.0
11         610.0  106.0  131.0  449.0  25.0  13.0  121.0  380.0  446.0  293.0
12         703.0  206.0  109.0  708.0  45.0  50.0  226.0  816.0  568.0  345.0


Carrier      WN
Month
1         825.0
2         448.0
3        1035.0
4         970.0
5        1009.0
6        1376.0
7        1230.0
8        1209.0
9         949.0
10       1072.0
11        963.0
12       1499.0

In [17]:
# Total Arrival delayed by cities 
table_arrdelay1 = pd.pivot_table(flight_delay_origin, values=['ArrDel15'], index=['DestCityName'], columns='Month', aggfunc=np.sum)   
table_arrdelay1

                              ArrDel15                                     \
Month                               1      2      3      4      5      6
DestCityName
Albuquerque, NM                   21.0   20.0   24.0   25.0   37.0   43.0
Anchorage, AK                      1.0    1.0    5.0    2.0    5.0   17.0
Aspen, CO                         13.0   28.0   32.0    1.0    NaN    7.0
Atlanta, GA                      130.0   74.0   86.0   61.0   63.0  141.0
Austin, TX                        25.0   20.0   48.0   27.0   29.0   80.0
Baltimore, MD                     20.0   12.0   28.0   22.0   22.0   44.0
Bend/Redmond, OR                   NaN    NaN    NaN    NaN    NaN   12.0
Boise, ID                          6.0    7.0    6.0    7.0    4.0   15.0
Boston, MA                        50.0   52.0   52.0   78.0   57.0  106.0
Bozeman, MT                        1.0    2.0    4.0    1.0    NaN    NaN
Buffalo, NY                        NaN    NaN    NaN    NaN    NaN    5.0
Cedar Rapids/Iowa City, IA         0.0    NaN    NaN    NaN    NaN    NaN
Charlotte, NC                     22.0   19.0   38.0   23.0   21.0   61.0
Chicago, IL                      133.0  108.0  129.0  128.0  136.0  252.0
Cincinnati, OH                     8.0    6.0    5.0   11.0   10.0   20.0
Cleveland, OH                     11.0   18.0   15.0   12.0   12.0   24.0
Colorado Springs, CO              10.0    7.0    9.0   10.0    6.0   17.0
Columbus, OH                      12.0    7.0    7.0    9.0    5.0   17.0
Dallas, TX                        40.0   31.0   63.0   55.0   47.0   70.0
Dallas/Fort Worth, TX            105.0   81.0  169.0  103.0   94.0  235.0
Denver, CO                        54.0   43.0  105.0   90.0  138.0  167.0
Detroit, MI                       54.0   36.0   23.0   23.0   19.0   45.0
Durango, CO                        NaN    NaN    NaN    NaN    NaN    1.0
Eagle, CO                          3.0    5.0    5.0    0.0    NaN    0.0
El Paso, TX                       14.0    9.0   20.0   20.0   20.0   41.0
Eugene, OR                         1.0    1.0    NaN    NaN    NaN   13.0
Fort Lauderdale, FL               63.0   41.0   81.0   45.0   26.0   55.0
Fresno, CA                        14.0    8.0   15.0    6.0   17.0   41.0
Hartford, CT                       NaN    NaN    NaN    NaN    NaN    6.0
Hayden, CO                         2.0    1.0    2.0    NaN    NaN    NaN
...                                ...    ...    ...    ...    ...    ...
Nashville, TN                     26.0   29.0   32.0   21.0   11.0   70.0
New Orleans, LA                   39.0   28.0   31.0   36.0   26.0   69.0
New York, NY                     176.0  226.0  169.0  180.0  150.0  305.0
Newark, NJ                        60.0   67.0   73.0   59.0   62.0  144.0
Oakland, CA                      106.0   54.0  116.0  119.0  140.0  213.0
Oklahoma City, OK                  6.0    8.0    7.0    1.0    2.0    5.0
Omaha, NE                          NaN    NaN    NaN    NaN    NaN   17.0
Orlando, FL                       38.0   23.0   50.0   40.0   42.0   91.0
Palm Springs, CA                   4.0    2.0    6.0    4.0    2.0    5.0
Philadelphia, PA                  22.0   22.0   31.0   22.0   30.0   63.0
Phoenix, AZ                      173.0  106.0  179.0  126.0  152.0  216.0
Pittsburgh, PA                     4.0    2.0    3.0    2.0    5.0    7.0
Portland, OR                      49.0   22.0   45.0   54.0   55.0   97.0
Raleigh/Durham, NC                12.0    9.0   12.0   12.0   10.0   29.0
Reno, NV                          15.0   17.0   32.0   19.0   22.0   51.0
Sacramento, CA                    90.0   50.0  107.0   75.0   86.0  162.0
Salt Lake City, UT                91.0   58.0   61.0   62.0   47.0  108.0
San Antonio, TX                   29.0   20.0   24.0   22.0   31.0   24.0
San Diego, CA                     31.0   42.0   35.0   24.0   39.0   65.0
San Francisco, CA                510.0  247.0  530.0  395.0  443.0  437.0
San Jose, CA                      85.0   55.0  108.0  106.0  113.0  137.0
San Luis Obispo, CA               14.0    8.0   20.0   12.0   13.0   23.0
Santa Barbara, CA                 14.0   14.0   17.0   13.0   17.0   30.0
Seattle, WA                       88.0   74.0  118.0  120.0  100.0  235.0
Spokane, WA                        5.0    3.0    9.0    0.0    NaN    NaN
St. Louis, MO                     31.0   14.0   36.0   39.0   36.0   83.0
Sun Valley/Hailey/Ketchum, ID      NaN    2.0    1.0    0.0    NaN    3.0
Tampa, FL                          4.0    7.0   13.0   10.0    9.0   21.0
Tucson, AZ                        45.0   27.0   53.0   25.0   33.0   53.0
Washington, DC                    50.0   35.0   46.0   51.0   56.0   98.0


Month                             7      8      9      10     11     12
DestCityName
Albuquerque, NM                 34.0   19.0   15.0   19.0   30.0   57.0
Anchorage, AK                   21.0   22.0    1.0    2.0    1.0   11.0
Aspen, CO                       14.0   16.0    6.0    9.0    0.0   49.0
Atlanta, GA                    132.0  156.0   87.0   76.0  117.0  137.0
Austin, TX                      50.0   53.0   47.0   42.0   37.0   53.0
Baltimore, MD                   58.0   41.0   27.0   19.0   37.0   32.0
Bend/Redmond, OR                11.0    5.0    5.0    7.0    1.0    4.0
Boise, ID                       20.0   17.0   18.0   12.0    8.0   39.0
Boston, MA                     117.0  110.0   94.0   91.0   89.0   46.0
Bozeman, MT                      3.0    2.0    7.0    0.0    NaN   10.0
Buffalo, NY                      6.0    9.0    6.0    5.0    8.0   13.0
Cedar Rapids/Iowa City, IA       NaN    NaN    NaN    NaN    NaN    NaN
Charlotte, NC                   61.0   53.0   31.0   21.0   36.0   32.0
Chicago, IL                    283.0  274.0  156.0  154.0  189.0  198.0
Cincinnati, OH                  29.0   28.0   13.0   12.0   16.0   21.0
Cleveland, OH                   26.0   35.0   16.0   10.0   16.0   25.0
Colorado Springs, CO             8.0   12.0   12.0    4.0   14.0   19.0
Columbus, OH                    22.0   18.0    4.0    7.0   10.0   10.0
Dallas, TX                      57.0   61.0   46.0   47.0   47.0   69.0
Dallas/Fort Worth, TX          175.0  171.0   95.0   89.0  103.0  112.0
Denver, CO                     151.0  211.0  129.0  133.0  114.0  193.0
Detroit, MI                     31.0   53.0   30.0   25.0   30.0   32.0
Durango, CO                      3.0    1.0    NaN    NaN    NaN    NaN
Eagle, CO                        2.0    2.0    NaN    NaN    NaN    6.0
El Paso, TX                     32.0   41.0   31.0   24.0   17.0   29.0
Eugene, OR                      17.0    4.0    5.0   14.0    7.0   21.0
Fort Lauderdale, FL             48.0   60.0   37.0   45.0   43.0   78.0
Fresno, CA                      34.0   24.0   14.0   24.0   33.0   66.0
Hartford, CT                     5.0    9.0    8.0    7.0    9.0    6.0
Hayden, CO                       NaN    NaN    NaN    NaN    NaN    9.0
...                              ...    ...    ...    ...    ...    ...
Nashville, TN                   72.0   66.0   45.0   40.0   52.0   52.0
New Orleans, LA                 56.0   58.0   35.0   56.0   35.0   75.0
New York, NY                   371.0  345.0  197.0  127.0  226.0  196.0
Newark, NJ                     146.0  170.0   98.0   89.0  136.0   93.0
Oakland, CA                    169.0  143.0   94.0  143.0  106.0  213.0
Oklahoma City, OK                5.0    4.0    4.0    5.0    5.0    8.0
Omaha, NE                       12.0   12.0    2.0    1.0    2.0    4.0
Orlando, FL                     88.0   83.0   47.0   42.0   45.0   60.0
Palm Springs, CA                 9.0    6.0    7.0    5.0    6.0   11.0
Philadelphia, PA                77.0   69.0   29.0   18.0   26.0   24.0
Phoenix, AZ                    213.0  190.0  108.0  212.0  157.0  219.0
Pittsburgh, PA                   9.0   23.0   16.0   16.0   21.0   22.0
Portland, OR                    88.0   85.0   76.0   68.0   51.0  124.0
Raleigh/Durham, NC              22.0   30.0   15.0   14.0   13.0   16.0
Reno, NV                        40.0   37.0   28.0   39.0   39.0   65.0
Sacramento, CA                 122.0  126.0   93.0  122.0   91.0  142.0
Salt Lake City, UT              94.0  111.0   87.0   64.0   71.0  151.0
San Antonio, TX                 20.0   42.0   43.0   30.0   44.0   52.0
San Diego, CA                   61.0   70.0   39.0   44.0   32.0   84.0
San Francisco, CA              489.0  585.0  307.0  444.0  331.0  478.0
San Jose, CA                   110.0   95.0   79.0   91.0   81.0  156.0
San Luis Obispo, CA             18.0   16.0   17.0   18.0   21.0   35.0
Santa Barbara, CA               16.0   20.0   20.0   18.0   24.0   42.0
Seattle, WA                    206.0  232.0  128.0  108.0  121.0  229.0
Spokane, WA                      0.0    2.0    0.0    NaN    NaN    NaN
St. Louis, MO                   54.0   70.0   44.0   34.0   32.0   29.0
Sun Valley/Hailey/Ketchum, ID    2.0    2.0    1.0    NaN    NaN    9.0
Tampa, FL                       12.0   13.0   10.0    4.0    6.0    7.0
Tucson, AZ                      73.0   76.0   57.0   51.0   66.0   91.0
Washington, DC                  98.0   95.0   68.0   55.0   77.0   63.0

[80 rows x 12 columns]